{% extends "html5.html" %}
{% block title %}{{ name }}{% endblock %}
{% block meta %}
<link rel="stylesheet" href="/static/css/mashup.css">
{% endblock %}
{% block content %}
<link rel="shortcut icon" type="image/x-icon" href="http://cdn.lastminute.com/site/favicon.ico?skin=engb.lastminute.com" />
<body>
	<div class="wrapper">
		<div class="banner">
	    	<div class="ani"><img src="/static/img/site_master_top_logo.gif" alt="last minute" /></div>
	    </div>
	    <div class="nav">
	    	<span class="white">lastminute.com</span> Dynamic Data Collection Example
	    </div>
	    <div class="content">
		
			<header>
		        <h1>Welcome to {{ name }}</h1>
		    </header>
			<article class="intro"><p>We have collected some information which may be useful to you if you are thinking of visiting {{ name }}.</p></article>
			<article class="city-break">
				
				<h2>Top city break</h2>
				<dl>
					<dt>Hotel:<dt>
					<dd>{{city_break.HotelName}}<dd>
					<dt>Departure:<dt>
					<dd>{{city_break.OutboundAirports}}<dd>
					<dt>Destination: <dt>
					<dd>{{city_break.InboundAirports}}<dd>
					<dt>Price:<dt>
					<dd>{{city_break.Total}}<dd>
				</dl>
			</article>
			<article class="flights">
				<h2>Top flights to {{ name }}</h2>
					{% for flight in flights %}
					<dl>
						<dt>Name:<dt>
						<dd>{{flight.Name}}<dd>
						<dt>Departure:<dt>
						<dd>{{flight.departure}}<dd>
						<dt>Destination:<dt>
						<dd>{{flight.desination}}<dd>
						<dt>Price:<dt>
						<dd>&#163;{{flight.Price}}<dd>
					</dl>
					{% endfor %}
			</article>
			<article class="hotels">
				<h2>Best deals for Hotels in {{ name }}</h2>
				{% for hotel in hotels %}
				<dl>
					<dt>Name:<dt>
					<dd>{{hotel.Name}}<dd>
					<dt>Address:<dt>
					<dd>{{hotel.Address}}<dd>
					<dt>Phone:<dt>
					<dd>{{hotel.Phone}}<dd>
					<dt>Price:<dt>
					<dd>&#163;{{hotel.Price}}<dd>
				</dl>
				{% endfor %}
		    </article>
		    <article class="info">
				<h2>Useful info about {{ name }}</h2>
		    	<article id="weather" data-feed="{{ weather }}"></article>
		    	<article id="news" data-feed="{{ news }}"></article>
		    </article>
		    
		
		</div>	
		<div class="footer">
	    	2011&copy;	
	    </div>
	</div>
    <script src="/static/js/mashup.js"></script>
</body>
{% endblock %}
