<!DOCTYPE html PUBLIC "//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" id="facebook">
    <head>
        <title>{% block title %}Test Site{% endblock %}</title>
        {% block meta %}{% endblock %}
    </head>
    {% block content %}
    <body>
        <h1>This is my test site</h1>
    </body>
    {% endblock %}
</html>
